/* Override global theme constants or define new ones here */



$petclinic-light-color: #f23e40;

$petclinic-main-color: #31497d;

$petclinic-main-bg: #31497d;

$petclinic-login-btn: #31497d;



$v-focus-color: $petclinic-main-color;

$v-selection-color: $petclinic-main-color;

$v-border: 1px solid $petclinic-main-color;

$v-friendly-color: $petclinic-main-color;

$v-font-color: $petclinic-main-color;

$v-button-font-color: #000;
